*{
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(39, 31, 27);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: left;
    list-style: none;
    padding: 30px;
    font-size: 20pt;
}

.header nav {
    font-size: 20pt;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.hero {
    padding: 20px;
}

.body {
    background-color: rgb(114, 162, 132);
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}

.post-list {
    list-style: none;
}

.title {
    border: 50px;
    background-color: rgb(39, 31, 27);
    color: white;
    width: 50%;
    padding: 10px; 
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    padding-top: 30px;
    color: white;
    font-size: 16pt;
    font-style: bold;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20pt;
    margin-left: 16px;
}
  

.delete-post-btn {
    background-color: #d41414;
}
  
.delete-post-btn:hover {
    background-color: #ff643d;
}

.comment-form {
    margin-bottom: 5%;
}
  
.comment {
    padding: 1%;
    margin-bottom: 1%;
}
  
.comment:nth-child(odd) {
    background-color: #fff5eb;
}
  
.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}
.new-post-form input {
    width: 300px;
}
  
.edit-post-form {
    margin-bottom: 5%;
}

